body {
    margin: 0px;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-cute-orange-pet-shop-promotion-banner-image_194564.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Futura Medium', Arial, Helvetica, sans-serif;
    
}

img{
    padding-top: 10px;
    margin-left:120px;
    margin-bottom: -20px;
}

h1{
    margin-left: 40px;
    margin-top: 40px;
    font-size: 40px;
    text-shadow: 2px, 2px, 5px;
    text-shadow: rgb(rgb 160, 160, 160);
    font-family: 'Satisfy', cursive, sans-serif;
}

#whats {
    width: 300px;
    height: 50px;
    list-style-image: url(./Whats.png);
    list-style-position: inside;
    font-size: 20px;
}

#insta {
    list-style-image: url(./Insta.png);
    list-style-position: inside;
    font-size: 20px;
}

#map {
    list-style-image: url(./Map.png);
    list-style-position: inside;
    font-size: 20px;
}

.links{
    
    color: black;
}

#w_ho:hover {
    color: #009D00;
}

#i_ho:hover {
    color: #a21fb1;
}

#m_ho:hover {
    color: #ff6145;
}

#w_ho:active {
    color: #ffffff;
}

#i_ho:active {
    color: #ffffff;
}

#m_ho:active {
    color: #ffffff;
}
